<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">filter_drama</i>
                        </div>
                        <p class="card-category">Chuva</p>
                        <h3 class="card-title"> {{ dadosAgora.getChuva() }}
                            <small>mm</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hoje
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">toys</i>
                        </div>
                        <p class="card-category">Velocidade do Vento</p>
                        <h3 class="card-title">{{ dadosAgora.getVento() }}
                            <small>km/h</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em 
                            {{dadosAgora.getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-thermometer-half"></i>
                        </div>
                        <p class="card-category">Temperatura</p>
                        <h3 class="card-title">{{ dadosAgora.getTemperatura() }}
                            <small>º</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em 
                            {{dadosAgora.getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-tint"></i>
                        </div>
                        <p class="card-category">Umidade do Ar</p>
                        <h3 class="card-title">{{ dadosAgora.getUmidadeAr() }}
                            <small>%</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em 
                            {{dadosAgora.getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">terrain</i>
                        </div>
                        <p class="card-category">Umidade do Solo</p>
                        <h3 class="card-title">{{ dadosAgora.getUmidadeSolo() }}
                            <small>%</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em 
                            {{dadosAgora.getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="humidityChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Umidade Semana (%)</h4>
                        <p class="card-category"><i class="fa fa-square ct-series-a"></i> Ar</p>
                        <p class="card-category"><i class="fa fa-square ct-series-b"></i> Solo</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado à 2 dias
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Chuva (mm)</h4>
                        <p class="card-category">Últimos 12 meses</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado à 2 dias
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="thermometerChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Temperatura (º)</h4>
                        <p class="card-category">Máximo e mínimo na última semana</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado à 2 dias
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="windChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Velocidade do Vento (km/h)</h4>
                        <p class="card-category">Máxima, mínima e média do dia, dos últimos 30 dias</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado à 2 dias
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>