<div class="main-content">
    <app-loading *ngIf="loading"></app-loading>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">filter_drama</i>
                        </div>
                        <p class="card-category">Chuva</p>
                        <h3 class="card-title"> {{ dadosAgora.getHoje().getChuva() }}
                            <small>mm</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hoje
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">toys</i>
                        </div>
                        <p class="card-category">Velocidade do Vento</p>
                        <h3 class="card-title">{{ dadosAgora.getHoje().getVento() }}
                            <small>km/h</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em
                            {{dadosAgora.getHoje().getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-thermometer-half"></i>
                        </div>
                        <p class="card-category">Temperatura</p>
                        <h3 class="card-title">{{ dadosAgora.getHoje().getTemperatura() }}
                            <small>º</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em
                            {{dadosAgora.getHoje().getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-tint"></i>
                        </div>
                        <p class="card-category">Umidade do Ar</p>
                        <h3 class="card-title">{{ dadosAgora.getHoje().getUmidadeAr() }}
                            <small>%</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em
                            {{dadosAgora.getHoje().getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">terrain</i>
                        </div>
                        <p class="card-category">Umidade do Solo</p>
                        <h3 class="card-title">{{ dadosAgora.getHoje().getUmidadeSolo() }}
                            <small>%</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último registro em
                            {{dadosAgora.getHoje().getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="rainChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Chuva (mm) últimos 12 meses</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> Mês</th>
                                    <th> Chuva (mm)</th>
                                    <th> Mês</th>
                                    <th> Chuva (mm)</th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let registro of [0,1,2,3,4,5]">
                                        <td style="font-weight: bold">
                                            {{dadosAgora.getAno().getChuva()[registro].getMonth() | date:'LLLL/yy' }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getChuva()[registro].getTotal() }}
                                        </td>
                                        <td style="font-weight: bold">
                                            {{dadosAgora.getAno().getChuva()[registro+6].getMonth() | date:'LLLL/yy' }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getChuva()[registro+6].getTotal() }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="windChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Velocidade do Vento (km/h)</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> Mês</th>
                                    <th> Máx</th>
                                    <th> Méd</th>
                                    <th> Min</th>
                                    <th> Mês</th>
                                    <th> Máx</th>
                                    <th> Méd</th>
                                    <th> Min</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let registro of [0,1,2,3,4,5]">
                                        <td style="font-weight: bold">
                                            {{dadosAgora.getAno().getVento()[registro].getMonth() | date:'LLLL/yy' }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getVento()[registro].getMax() }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getVento()[registro].getAvg() }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getVento()[registro].getMin() }}
                                        </td>
                                        <td style="font-weight: bold">
                                            {{dadosAgora.getAno().getVento()[registro+6].getMonth() | date:'LLLL/yy' }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getVento()[registro+6].getMax() }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getVento()[registro+6].getAvg() }}
                                        </td>
                                        <td>
                                            {{dadosAgora.getAno().getVento()[registro+6].getMin() }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="thermometerChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Temperatura (º)</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> Dia </th>
                                    <th *ngFor="let registro of dadosAgora.getSemana().getTemperatura()">
                                        {{registro.getDay() | date:'EEEE' }}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold">Máximo</td>
                                        <td *ngFor="let registro of dadosAgora.getSemana().getTemperatura()">
                                            {{registro.getMax()}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Mínimo</td>
                                        <td *ngFor="let registro of dadosAgora.getSemana().getTemperatura()">
                                            {{registro.getMin()}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado
                            {{dadosAgora.getHoje().getRegistradoEm() | date:"dd/MM/yyyy 'às' HH:mm"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="humidityChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Umidade Ar Semana (%)</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> Dia </th>
                                    <th *ngFor="let registro of dadosAgora.getSemana().getUmidade()">
                                        {{registro.getDay() | date:'EEEE' }}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold">Máximo</td>
                                        <td *ngFor="let registro of dadosAgora.getSemana().getUmidade()">
                                            {{registro.getMax()}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Mínimo</td>
                                        <td *ngFor="let registro of dadosAgora.getSemana().getUmidade()">
                                            {{registro.getMin()}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>