<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Registros</h4>
                        <p class="card-category"> Últimos registros recebidos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th> Registrado em </th>
                                    <th> Chuva (mm) </th>
                                    <th> Temperatura (º) </th>
                                    <th> Vento (km/h) </th>
                                    <th> Umidade Solo (%) </th>
                                    <th> Umidade Ar (%) </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let registro of lista">
                                        <td>{{registro.getRegistradoEm()}}</td>
                                        <td>{{registro.getChuva()}}</td>
                                        <td>{{registro.getTemperatura()}}</td>
                                        <td>{{registro.getVento()}}</td>
                                        <td>{{registro.getUmidadeSolo()}}</td>
                                        <td>{{registro.getUmidadeAr()}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>